<div class="ui horizontal divider"></div>

<div class="ui container">

  <div class="row">
    <div class="ui segment">
      <h1 class="ui header">Smoosh Shtepper - Shell evaluation and expansion step-by-step</h1>

      <p>Wondering why the POSIX shell behaves the way it does? We can
      expand and evaluate shell code according to the POSIX
      standard. You can symbolically configure your shell and
      operating system environment.</p> 

      <p>Commands are limited to the core shell builtin operations
      described in 
        <a href="http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_09_01_01">
          Section 2.9.1 Command Search and Execution
        </a> of the <a href="http://pubs.opengroup.org/onlinepubs/9699919799/nframe.html">POSIX spec</a>.
    </div> 
  </div>

  <div class="ui basic segment">
    <div class="ui form relaxed grid">
      <form id="expansionForm" method="post" action="/shtepper">
        <div class="sixteen wide field">
          <label>Shell code to symbolically execute</label>
          <textarea name="shell" class="stmt" rows="10" cols="72">echo ${x=5} $((x+1))</textarea>
        </div>
      
        <div class="two fields">
          <div class="eight wide field">
            <label>Environment</label>
            <textarea name="env" class="stmt" rows="4" cols="34">
{ "PATH": "/usr/bin"
, "HOME": "/Users/mgree"
}
</textarea>
          </div>
          
          <div class="eight wide field">
            <label>Home directories</label>
            <textarea name="users" class="stmt" rows="4" cols="34">
{ "mgree": "/Users/mgree" 
, "root": "/var/root"
}</textarea>
          </div>
        </div>
      
        <div class="row">
          <button class="ui primary labeled button icon" type="submit">
            <i class="play icon"></i>
            Run shell code
          </button>
          <button class="ui labeled button icon" id="clear" type="button">
            <i class="erase icon"></i>
            Clear results
          </button>
        </div>
      </form>
      <div class="ui segment compact secondary right floated">
        <h3 class="ui header">Legend</h1>

        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><span class="words">unexpanded words</span></td>
              <td>initial state</td>
            </tr>
            <tr>
              <td><span class="expanded-word">expanded words</span></td>
              <td>before field splitting</td>
            </tr>
      
            <tr>
              <td><span class="tmp-field">temporary field</span></td>
              <td>before pathname expansion</td>
            </tr>
      
            <tr>
              <td><span class="field">fully expanded field</span></td>
              <td>final state</td>
            </tr>

            <tr>
              <td><span class="field-separator"> </span></td>
              <td>field separator</td>
            </tr>
          </tbody>
        </table>

        <div class="ui hidden divider"></div>

        <div class="ui segments">
          <div class="ui inverted tertiary pink segment">expansion step</div>
          <div class="ui inverted tertiary blue segment">evaluation step</div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="ui horizontal divider"></div>

<div id="submit-result"></div>

<div class="ui horizontal divider"></div>

<script src="/js/custom.js"></script>
