.words {
    background-color: silver;
}

span.expanded-word {
    border: 1px dotted fuchsia;
}

span.field, span.tmp-field {
    border: 1px solid red;
}

span.tmp-field {
    border-style: dashed;
}

span.field-separator::after, span.tmp-field-FS::after {
    content: "␣ "
}

pre.redir-Heredoc-text {
    margin: 0px;
}

span.comment {
    background-color: seashell;
}

pre.stream {
    color: chartreuse;
    background-color: black;
    font-family: monospace;
}
