*.lem linguist-detectable=true
Dockerfile* linguist-detectable=true
Dockerfile.* linguist-language=Dockerfile
src/*.lem linguist-language=OCaml
src/*.ml linguist-language=OCaml
web/src/public/css/components/* linguist-vendored
web/src/public/css/themes/* linguist-vendored
web/src/public/css/semantic.min.css linguist-vendored
web/src/public/js/jquery-3.2.1.min.js linguist-vendored
web/src/public/js/semantic.min.js linguist-vendored
web/src/views/*.erb linguist-language=HTML+ERB