[submodule "libdash"]
	path = libdash
	url = https://github.com/mgree/libdash
	branch = master
[submodule "lem"]
	path = lem
	url = https://github.com/rems-project/lem
[submodule "modernish"]
	path = modernish
	url = https://github.com/mgree/modernish
[submodule "oil"]
	path = oil
	url = https://github.com/oilshell/oil
