development:
  expand_executable: /full/path/to/expand
  submissions_tmpdir: /full/path/to/tmpdir
test:
  expand_executable: /full/path/to/expand
  submissions_tmpdir: /full/path/to/tmpdir
production:
  expand_executable: /full/path/to/expand
  submissions_tmpdir: /full/path/to/tmpdir
