name: Main workflow

on:
  pull_request:
  push:
  schedule:
    - cron: '5 10 * * 3'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-version:
          - 4.10.0
          - 4.11.0
          - 4.12.0

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Install dependencies
        run: |
          opam install -y ocamlfind ocamlbuild num zarith 'extunix<0.4' lem
          opam pin add libdash ./libdash --no-action
          OPAMYES=yes OPAMDEPEXTYES=1 OPAMCONFIRMLEVEL=unsafe-yes opam install -y ./libdash
        
      - name: Build smoosh, run unit tests
        run: |
          opam exec -- make -C src all all.byte
          make -C src/ test
          
      - name: Run smoosh integration tests
        run: |
          ulimit -n
          for fd in $(seq 3 20); do eval "exec $fd>&-"; done
          PATH="$(pwd)/src:$PATH" TEST_DEBUG=1 TEST_TIMEOUT=15 make -C tests/ test

          
        
